@mixin paragraph{
    font-size: 20px;
}

@mixin bold{
    font-weight: bold;
}

@mixin italic{
    font-style: italic;
}

@mixin para-3($color: red, $font-style: italic){
    color: $color;
    font-style: $font-style;
}

@mixin box-shadow($border: 3px solid black, $shadows...){
    border: $border;
    box-shadow: $shadows;
}