@import "partials/variables";
@import "partials/mixins";

@include google-font("Lato");

body {
  background-color: $background-color;
}

p {
  @include paragraph;
  font-family: $text-font;
  @include large-screens{
    text-align: center;
  }
}

.para-1 {
  @include italic;
}

.para-2 {
  @include bold;
}

.para-3 {
  @include para-3(green);
  @include box-shadow(1px 1px 1px #fff, 1px 1px 1px green);
}
