@import "partials/variables";
@import "partials/mixins";
@import "partials/functions";

@include google-font("Roboto");

body {
  background-color: $background-color;
}

p {
  @include paragraph;
  font-family: $text-font;
  @include large-screens {
    text-align: center;
  }
}

.para-1 {
  @include italic;
}

.para-2 {
  @include bold;
}

.para-3 {
  @include para-3(green);
  @include box-shadow(1px 1px 1px #fff, 1px 1px 1px green);
}

// Functions in Scss
// Darken
// Lighten
// Transparentize
// Opacify

.test-list-items li:nth-child(1) {
  color: $orange;

  &:hover {
    color: darken($orange, 20%);
  }
}

.test-list-items li:nth-child(2) {
  color: $red;
  &:hover {
    color: lighten($red, 30%);
  }
}

.test-list-items li:nth-child(3),
.test-list-items li:nth-child(4),
.test-list-items li:nth-child(5) {
  border-bottom: 2px solid transparentize(#000000, 1);
  transition: 0.5s ease;

  &:hover {
    border-bottom: 2px solid opacify(#000000, 0.5);
  }
}

.test-para-1 {
  color: red;
}

.test-para-2 {
  @extend .test-para-1;
  text-decoration: underline;
  font-style: italic;
}

.test-para-3 {
  @extend .test-para-2;
  font-weight: 700;
}

%highlight {
  color: green;
}

.test-para-4{
  @extend %highlight;
  @extend .foo !optional;
}